
.submenu{
  font-size: 13px;
  height: 10px;
  margin-bottom: 34px;

}
.menuEspe{
  text-align: center;
  margin-bottom: 20px;
  color: #fff;

}
.menuEspe li{
  text-align: center;
  background: #337AB7;
  border-left: 2px solid #fff;
  color: #fff; 
}


.menuEspe li a:hover{
  
  border-right: #fff;
  background: #FFCF00;
  border-bottom: 1px solid #064E06;
  color: #333;
  font-size: 800;
  border-radius: 0px;
  font-size: 13px;
}



.menuEspe li a:focus{
  
  border-right: #fff;
  color: #fff;
  background: #337AB7;
  font-weight: 700;
  font-size: 13px;
}



.menuEspe li a{
  
  border-right: #fff;
  color: #fff;
  padding: 4px 1px 4px 1px;
 /* border-bottom: 2px solid #042D50;*/
}


/*Panel Evaluar Preguntas*/
.paneles{
    height: 28px;
    padding: 3px;
}

.respuesta{
  width: 130px;
  margin-right: 0px;
}

.respuesta .SiNo{
  
  margin-right: 0px;
  vertical-align: baseline;
  margin-left: 8px;
  
}

.estudiante .SiNo{ 
  margin-left: 8px;
  padding-left: 30px;
  
}

.estudiante{
  padding-left: 30px;
}

.preguntasEval .preguntaCorre{
  text-align: -webkit-left;
  font-size: 13px;
}
.contenidosPregun h4{
  font-weight: 600;
  font-size: 15px;
  text-align: center;
  color: #337AB7;
  
}
.contenidosPregun p{
  font-weight: 600;
  font-size: 12px;
  border-bottom: 1px solid #ddd;
  text-align: center;
  color: #C17272;  
}

#main{
  margin-top: 8px;
  text-align: center;
}

@media (max-width: 1165px){
  .submenu{  
  margin-bottom: 70px;
  font-size: 13px;
}
.menuEspe li:hover {
    background: #FFCF00;
    border: 1px solid #FFCF00;
    font-size: 13px;
}
.menuEspe li a:hover {
    background: #FFCF00;
    border: 1px solid #FFCF00;
}
  
  
}


@media (max-width: 1020px){
  .menuEspe {
    text-align: center;
    margin-bottom: 36px;
    color: #fff;  
}

 .menuEspe li:hover {
    background: #FFCF00;
    border: 1px solid #FFCF00;
}
.menuEspe li a:hover {
    background: #FFCF00;
    border: 1px solid #FFCF00;
}



.menuEspe li a{
  
  border-right: #fff;
  color: #fff;
  padding: 4px 1px 4px 1px;
  border-bottom: none;
}
}

@media (max-width: 955px){
  .submenu{  
  margin-bottom: 60px;
}
.menuEspe li:hover {
    background: #FFCF00;
    border: 1px solid #FFCF00;
}
.menuEspe li a:hover {
    background: #FFCF00;
    border: 1px solid #FFCF00;
}
  
  
}
@media (max-width: 767px){
  .submenu{  
  margin-bottom: 250px;
}
.menuEspe li:hover {
    background: #FFCF00;
    border: 0px solid #FFCF00;
}
.menuEspe li a:hover {
    background: #FFCF00;
    border: 0px solid #FFCF00;
}
  
  
}


@media (max-width: 492px){
  .submenu{
  
  margin-bottom: 204px;

}
  
  
}
